@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #FEFEDF;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

nav {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(37, 36, 36);
  padding: 0 1rem;
}

.nav-logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-logo img {
  height: 3rem;
  margin-right: 1rem;
}

.nav-logo p {
  color: #FCF8FF;
  font-size: 25px;
  font-weight: bold;
}

.nav-accesos {
  margin-right: 1rem;
}

.nav-accesos ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
}

main {
  padding-top: 100px;
}

.footer-redes {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-redes ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.footer-redes ul li {
  margin: 0 1rem;
}

.footer-redes ul li a {
  color: #4B4453;
}

.footer-redes ul li a:hover {
  background-color: #C4FCEF;
}